/nbproject/private/
/Practica3/ImageWS_Cient_Application/nbproject/private/
/Practica3/ImageWS_Cient_Application/build/
/Practica3/ImageWS_Client_Application/nbproject/private/
/Practica3/ImageWS_Client_Application/build/